body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

.__wrapper {
    overflow: hidden;
    line-height: 0;
    height: 100%;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("https://i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}

.__content {
        display: flex;
        height: calc(100vh - 46px);
}

.__left {
    /*position: relative;
    display: flex;
    width: calc(100% - 352px);
    flex-direction: column;
    padding-bottom: 56.25%; /* 16:9 
    padding-top:30px;
    height: 0; */
position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 352px);
    /*max-width: 800px;
    margin: 30px auto 20px;*/
}

.__right {
    width: 352px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 9px;
  /*padding: 8px 14px;
  font-size: 15px;*/
  color: #fff;
}

.fail button {
  color: red;
}

.success button {
  color: lightgreen;
}
.etc button  {
  color: lightblue;
}

.etc2 button {
  color: lightblue;
}

#save, #export, #play{
  width: 30px;
  height: 30px;
  font-size: 8pt;
  color: white;
  font-family: "Font Awesome 5 Free"
}


#seconds {
  font-size: 3em;}

#minutes {
  font-size: 3em;
}
#colon {
  font-size: 3em;
}