body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}
 
.__content {
        display: flex;
}

.__video {
    position: relative;
}
.__video #player {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.__left {
    position: relative;
    display: flex;
    width: calc(100% - 352px);
    flex-direction: column;
}
.__right {
    width: 352px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 300px;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#banner-message.alt {
  background: #0084ff;
  color: #fff;
  margin-top: 40px;
  width: 200px;
}

#banner-message.alt button {
  background: #fff;
  color: #000;
}
